<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>front end scaffolding</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="images/icon.png" rel="icon" sizes="32x32" type="image/png">
    <link href="styles/major.css" integrity="{{{shasum.style.major}}}" rel="stylesheet">

    <noscript id="styles-minor">
      <link href="styles/minor.css" integrity="{{{shasum.style.minor}}}" rel="stylesheet">
    </noscript>
  </head>
  <body>
    {{> header.html}}

    <script integrity="{{{shasum.script}}}" src="scripts/main.js"></script>
  </body>
</html>
